<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список кассет</title>
    <meta charset="utf-8"/>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="navigation/base_navigation">
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align: center">
        <h1>Наша рекомендация</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aIDMzO5NcCo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="container" style="margin-top: 40px">
    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-8">
            <h2>Список доступных кассет</h2>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дата выхода</th>
                    <th>Режиссер</th>
                    <th>Стоимость залога</th>
                </tr>
                </thead>
                <th:block th:each="cassette : ${cassettes}">
                    <tr class="th-limit-words" style="overflow: hidden">
                        <td th:text="${cassette.name}"></td>
                        <td th:text="${cassette.description}"></td>
                        <td th:text="${cassette.releaseDate}"></td>
                        <td th:text="${cassette.director}"></td>
                        <td th:text="${cassette.cost}"></td>
                    </tr>
                </th:block>
            </table>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>
</body>
</html>