<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-117018295-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117018295-1');
    </script>

</head>
<body>
<div th:include="navigation/base_navigation">
</div>

<div class="row" style="margin-top: 30px">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="text-align: center">
        <h3>Наше местоположение</h3>
        <div id="map"></div>
    </div>
    <div class="col-md-3"></div>
</div>

<script>
    function initMap() {
        var point = {lat:  51.656600, lng: 39.206105};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: point
        });
        var marker = new google.maps.Marker({
            position: point,
            map: map
        });
    }
</script>
<script async="async"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBufZxerrqJpX76jEuMotJTqYsxyHsmKtY&amp;callback=initMap">
</script>

</body>
</html>